@inject CozaStore.Services.IUsuarioService userService
@{
    var usuario = await userService.GetUsuarioLogado();
}

<ul class="navbar-nav flex-row align-items-center ms-auto">
    <!-- User -->
    <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
                <img src="@(usuario.Foto ?? "~/images/usuarios/no-photo.png")" alt class="w-px-40 h-auto rounded-circle" />
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
            <li>
                <a class="dropdown-item pb-2 mb-1" href="#">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-2 pe-1">
                            <div class="avatar avatar-online">
                                <img src="@(usuario.Foto ?? "~/images/usuarios/no-photo.png")" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                        </div>
                        <div class="flex-grow-1">
                            <h6 class="mb-0">@usuario.Nome</h6>
                            <small class="text-muted">@usuario.Perfil</small>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <div class="dropdown-divider my-1"></div>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <i class="mdi mdi-account-outline me-1 mdi-20px"></i>
                    <span class="align-middle">Perfil</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <i class="mdi mdi-cog-outline me-1 mdi-20px"></i>
                    <span class="align-middle">Configurações</span>
                </a>
            </li>
            <li>
                <div class="dropdown-divider my-1"></div>
            </li>
            <li>
                <form method="POST" asp-action="Logout" asp-controller="Account">
                    <button type="submit" class="dropdown-item aling-middle"><i class="mdi mdi-power me-1 mdi-20px"></i> Sair</button>
                </form>
            </li>
        </ul>
    </li>
    <!--/ User -->
</ul>