@{
    ViewData["Title"] = "Confirmação de Registro";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner" style="max-width: 600px;">
            <!-- Register Card -->
            <div class="card p-2">
                <!-- Logo -->
                <div class="app-brand justify-content-center mt-5">
                    <a asp-action="Index" asp-controller="Home" class="app-brand-link gap-2">
                        <img src="~/images/icons/logo-01.png" width="200">
                    </a>
                </div>
                <!-- /Logo -->
                <div class="card-body text-center">
                    <h4 class="mb-2">O Melhor Lugar para suas Compras</h4>
                    <p class="mb-4">Acesse o email informado para concluir o processo de criação de Conta!</p>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-info text-white">Ir para o Login</a>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-white">Voltar a página inicial</a>
                </div>
            </div>
            <!-- Register Card -->
            <img src="~/assets/img/illustrations/tree-3.png" alt="auth-tree"
                class="authentication-image-object-left d-none d-lg-block" />
            <img src="~/assets/img/illustrations/auth-basic-mask-light.png"
                class="authentication-image d-none d-lg-block" alt="triangle-bg"
                data-app-light-img="illustrations/auth-basic-mask-light.png"
                data-app-dark-img="illustrations/auth-basic-mask-dark.png" />
            <img src="~/assets/img/illustrations/tree.png" alt="auth-tree"
                class="authentication-image-object-right d-none d-lg-block" />
        </div>
    </div>
</div>
